<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(find sdv_test)/urdf/tricycle.urdf.xacro"/>
    <node name="joint_state_publisher_gui" type="joint_state_publisher_gui" pkg="joint_state_publisher_gui"/>
    <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher"/>
    
    
    <!-- <node name="rviz" type="rviz" pkg="rviz" args="-d $(find forked_sdv)/rviz/rviz.rviz"/> -->
</launch>
